{% extends "base.html" %}

{% block content %}

<div class="section">
    {% if not portfolios %}
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <p class="subtitle">It looks like you haven't saved any portfolios yet. Head to the  <a href="{{ url_for('/dashboard/') }}">dashboard</a> to start
                    backtesting.</p>
            </div>
        </div>
    </div>
    {% else %}
    <div id="gallery-ancestor" class="tile is-ancestor">
        {% for porto in portfolios %}
        <div onclick="window.location = '{{ url_for('/dashboard/') }}?id={{porto.id}}'" class="tile is-parent is-4">
            <article class="tile is-child box">
                <p class="title">{{porto.name}}</p>
                {% for asset in porto.strat.assets %}
                <p class="subtitle" style="text-align:left;">
                    {{asset.ticker}}
                    <span style="float:right;">
                        {{asset.weight * 100 }}%
                    </span>
                </p>
                {% endfor %}
            </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
