{% extends "base.html" %} {% block content %}

<div class="hero is-fullheight-with-navbar">
    <div class="section">
        {% if not portfolios %}
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <p class="subtitle">It looks like you haven't saved any portfolios yet. Head to the <a href="{{ url_for('/dashboard/') }}" class="has-color-inspire">dashboard</a> to start backtesting.
                    </p>
                </div>
            </div>
        </div>
        {% else %}
        <div id="gallery-ancestor" class="tile is-ancestor">
            {% for porto in portfolios %}
            <div onclick="window.location = '{{ url_for('/dashboard/') }}/{{porto.id}}'" class="tile is-parent is-4">
                <article class="tile is-child box" style="background-color:#feedd0">
                    <p class="title has-text-centered">{{porto.name}}</p>
                    <hr> {% for asset in porto.strat.assets %}
                    <p class="subtitle" style="text-align:left;">
                        {% set ticker = asset.ticker.split("|")[0] %} {{ticker}}
                        <span style="float:right;">
                        {{asset.weight}}%
                    </span>
                    </p>
                    {% endfor %}
                </article>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}