{% extends "base.html" %}

{% block content %}
<style>
  .profile-pic {
    display: inline-block;
    width: 256px;
    height: 256px;
    border-radius: 50%;
  
    object-fit: cover;
  }
</style>
<!-- Section1 -->
<div class="hero is-small is-bold">
  <section id="divider">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-vcentered">

          <!-- Intro -->
          <div class="column is-12 has-text-justified">
            <p class="title">
              <h2 class="title is-3">The Creators of Thalia</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Thalia was born as a simple idea, but ended up being the result of many months of hard work. As for any sofware product there is a team 
              of great software engineers behind Thalia, who worked tirelessly to deliver it. This page is dedicated to them.
            </h1>
          </div>
          <!-- /Intro -->

          <!-- Empty row -->
          <div class="column is-12">&emsp;</div>
          <!-- /Empty row -->

          <!-- Weronika -->
          <div class="column is-half has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <div class="column has-text-justified">
            <p class="title">
              <h2 class="title is-3">Weronika Kakavou</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nisi tempora ipsam temporibus doloribus ipsa tenetur soluta, eligendi alias odit quae aspernatur sed consequuntur atque libero sunt praesentium facere autem.
            </h1>
          </div>
          <!-- /Weronika -->

          <!-- Martti -->
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">Martti Aukia</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <div class="column has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <!-- /Martti -->

          <!-- Albert -->
          <div class="column is-half has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">Albert Boehm</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <!-- /Albert -->

          <!-- Louis -->
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">Arthur-Louis Heath</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <div class="column has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <!-- /Louis -->

          <!-- George -->
          <div class="column is-half has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">George Stoian</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <!-- /George -->

          <!-- Daniel -->
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">Daniel Joffe</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <div class="column has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <!-- /Daniel -->

          <!-- Marcell -->
          <div class="column is-half has-text-centered">
            <div class="image-cropper">
              <img class="profile-pic" src="/static/images/us/Marcell.png">
            </div>
          </div>
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">Marcell Veiner</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos mollitia fugit magnam quaerat necessitatibus. Debitis id sit laudantium expedita, ab rerum cum dolorum facilis corrupti, ad doloribus, cumque aperiam!
            </h1>
          </div>
          <!-- /Marcell-->

        </div>
      </div>
    </div>
  </section>
</div>
<!-- /Section1 -->
{% endblock %}