<style>
    .is-fixed {
        position: fixed;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../static/scripts/scroll-down.js"></script>

<nav class="menu is-fixed">
    <p class="menu-label">
    Main
    </p>
    <ul class="menu-list">  
    <li><a href="#tickers" class="is-active">Ticker Selection</a></li>
    <li><a href="#dashboard">Dashboard</a></li>
    </ul>
    <p class="menu-label">
    Metrics
    </p>
    <ul class="menu-list">
    <li><a>Top Metrics</a></li>
    <li>
        <a class="">Returns</a>
        <ul>
        <li><a>Annual Returns</a></li>
        <li><a>Monthly Returns</a></li>
        <li><a>Rolling Returns</a></li>
        </ul>
    </li>
    <li><a>Drawdowns</a></li>
    <li><a>Assets</a></li>
    </ul>
</nav>
