
<nav class="menu">
    <p class="menu-label">
    Main
    </p>
    <ul class="menu-list">  
    <li><a class="is-active">Ticker Selection</a></li>
    <li><a>Dashboard</a></li>
    </ul>
    <p class="menu-label">
    Metrics
    </p>
    <ul class="menu-list">
    <li><a>Top Metrics</a></li>
    <li>
        <a class="">Returns</a>
        <ul>
        <li><a>Annual Returns</a></li>
        <li><a>Monthly Returns</a></li>
        <li><a>Rolling Returns</a></li>
        </ul>
    </li>
    <li><a>Drawdowns</a></li>
    <li><a>Assets</a></li>
    </ul>
</nav>
