{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}


<div class="container">
	<div class="col-md-8">
		<br>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <table style="width:100%", border="3">
        <tr>
          <th>Performance Metric</th>
          <th>Simulation Result</th>
        </tr>
        <tr>
          <td>Initial Balance</td>
          <td>{{initial_balance}}</td>
        </tr>
        <tr>
          <td>End Balance</td>
          <td>{{end_balance}}</td>
        </tr>
        <tr>
          <td>Best Year</td>
          <td>{{best_year}}</td>
        </tr>
        <tr>
          <td>Worst Year</td>
          <td>{{worst_year}}</td>
        </tr>
        <tr>
          <td>Sortino Ratio</td>
          <td>{{sortino_ratio}}</td>
        </tr>
        <tr>
          <td>Sharpe Ratio</td>
          <td>{{sharpe_ratio}}</td>
        </tr>
        <tr>
          <td>Max Drawdown</td>
          <td>{{max_drawdown}}</td>
        </tr>
      </table>
			<br>
	</div>
</div>


<div style="width:600;height:500">

</div>

{% autoescape off %}
{{ plot_div }}
{% endautoescape %}


<div id="plotly-div"></div>
{% load static %}
<script src="{% static "js/plotting.js" %}">
</script>

{% endblock %}